/* frontend/src/styles.css */
/* variables */
:root {
    --main-bg-color: #9a6fae;
}

/* elements */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: var(--main-bg-color);
    color: white;
    padding: 10px;
    text-align: center;
}
button {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: var(--main-bg-color);
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#btn {
    margin: 20px;
}
#out {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
#app {
    margin: 20px;
}
